@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

.prose h2 {
  @apply text-3xl font-semibold tracking-tight;
}

.prose h3 {
  @apply text-2xl font-semibold tracking-tight;
}

.prose p {
  @apply leading-relaxed text-slate-200;
}

.prose strong {
  @apply text-slate-100;
}
